* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.cursorPointer {
    cursor: pointer;
}

:root {
    --logo-black: url("../../assets/logo/HS-Black.png");
    --logo-white: url("../../assets/logo/HS-PSD.png");
    /*  */
    --index-color-1: hsl(10, 30%, 85%);
    --index-color-2: hsl(100, 50%, 90%);
    --index-color-3: hsl(212, 30%, 85%);

    --home-color-1: hsl(221, 88%, 34%);
    --home-color-2: hsl(0, 0%, 84%);
    --home-color-3: hsl(196, 61%, 42%);
    --home-color-4: hsl(215, 45%, 49%);
    --home-color-5: hsl(211, 72%, 39%);

    --header-color-1: trasparent;
    --header-color-2: trasparent;

    --dropdown-color-1: hsl(219, 88%, 75%);
    --dropdown-color-2: hsl(207, 69%, 80%);
    /*  */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    /*  */
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

.index {
    background-image: linear-gradient(179deg, #e0f7fa 0%, #e0f2f1 60%, #e0f8ff 100%);
    background-size: 3%;
}

.cover {
    order: 1;
}

.login {
    order: 2;
}

.logo,
.side-logo {
    background-image: var(--logo-white);
    /* background-position: left; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130px;
    padding: 10px;
    max-height: 150px;
    min-height: 130px;
    margin-bottom: -10px;
    opacity: 100%;
}

.side-logo {
    /* background-position: left; */
    background-size: 400px;
    max-height: 100vh;
    min-height: 80vh;
    margin: 10vh 0 10vh 0;
    opacity: 100%;
}

.slider_img {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
}

.desc_txt {
    font-size: 0.87rem;
}

.home {
    background-image: linear-gradient(150deg, var(--home-color-2) 0%, var(--home-color-1) 100%);
}

.homex {
    background-image: linear-gradient(90deg, var(--home-color-3) 0%, var(--home-color-1) 100%);
}

.homex2 {
    background-image: linear-gradient(90deg, var(--home-color-4) 0%, var(--home-color-5) 100%);
}

.header-bg {
    background-image: linear-gradient(170deg, var(--header-color-2) 0%, var(--header-color-1) 100%);
    background-size: 100%;
}

.header-dropdown {
    background-image: linear-gradient(90deg, var(--dropdown-color-1) 0%, var(--dropdown-color-2) 100%);
    letter-spacing: 0.1rem;
}

.header-logo {
    background-image: var(--logo-black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 70px;
    min-height: 60px;
    opacity: 100%;
}

.frame {
    background-image: url("../../assets/slider/img\ \(1\).jpg");
    background-position: center;
    background-size: contain;
}